body {
  margin: 0;
}

.page {
  /* border: 1px solid red; */
  width: 1280px;
  height: 720px;
  margin: 65px auto 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;
}